.c-wrapper {
  .custom-header {
    &.c-header {
      background: #FFFFFF;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

      .user-profile {
        .dropdown-menu {
          width: 252px;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
          border-radius: 4px;

          .username {
            padding: 0 10px;
            margin-bottom: 15px;
          }

          .logout {
            margin: 0 -8px;

            &:hover {
              background: #80808026;
            }
          }
        }
      }
    }
  }

  .layout-display-center {
    justify-content: center;
    display: grid;
  }
}
