.previous-order {
    max-width: 100%; 
    margin: auto;
}

.previous-order-image {

    width: 310px;
    height: 100px;
    object-fit: cover;
    margin-right: 16px;
}

.reorder-button {
    white-space: nowrap;
}


.previous-order-image {
    
    margin-right: 8px; 
  }
  
