.GreenButton {
  background: #2DCC70;
  color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  text-align: center;
  padding: 11px 15.7px;

  &.btn:focus {
    box-shadow: unset;
  }

  &.btn:hover {
    color: #FFFFFF;
  }

  &.no-margin {
    margin-bottom: 0;
  }
}
