.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
}

.cart-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cart-item-actions {
    display: flex;
    gap: 10px;
}

.cart-item-price {
    font-weight: bold;
}

.checkout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cart-item-image {
    margin-right: 10px;
    width: 100px;  
    overflow: hidden;
    float: left;
}

.cart-item-image img {
    width: 100%;  
    height: auto;
}
