.date-time {
  display: flex;

  .ant-picker {
    font-size: 15px;
    color: #000000;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    height: 40px;
  }

  .ant-picker-focused {
    box-shadow: none;
  }
}
